nav{
    width: 100%;
    height:100%;
    background-color: pink;

}
li{
    margin:10px 0;
    height: 80px;
}
ul{
   list-style-type: none;
   display: flex;
   
}
a{
    margin: 40px;
    text-align: center;
}
a:hover {
    background-color: #ddd;
    color: black;
}